@model RACU11.ViewModels.CreateIRF

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>IRF</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateIRF">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IRF_BlotterEntryNumber" class="control-label"></label>
                <input asp-for="IRF_BlotterEntryNumber" class="form-control" />
                <span asp-validation-for="IRF_BlotterEntryNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IRF_TypeOfIncident" class="control-label"></label>
                <select id="TypeOfIncident" name="IRF_TypeOfIncident" class="form-control">
                    <option value=""></option>
                    <option value="online libel">online libel</option>
                    <option value="online threat">online threat</option>
                    <option value="identity theft">identity theft</option>
                    <option value="hacking">hacking</option>
                    <option value="anti-photo & video voyeurism (RA 9995)">anti-photo & video voyeurism (RA 9995)</option>
                    <option value="unjust vexation">unjust vexation</option>
                    <option value="robbery extortion">robbery extortion</option>
                    <option value="atm/credit card fraud">atm/credit card fraud</option>
                    <option value="child pornography">child pornography</option>
                    <option value="violence against women and children (VAWC, RA 9262)">violence against women and children (VAWC, RA 9262)</option>
                    <option value="illegal access">illegal access</option>
                    <option value="email spoofing">email spoofing</option>
                </select>
                <span asp-validation-for="IRF_TypeOfIncident" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IRF_ReportingTimeAndDateOfReport" class="control-label"></label>
                <input asp-for="IRF_ReportingTimeAndDateOfReport" class="form-control" />
                <span asp-validation-for="IRF_ReportingTimeAndDateOfReport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IRF_ReportingTimeAndDateOfIncident" class="control-label"></label>
                <input asp-for="IRF_ReportingTimeAndDateOfIncident" class="form-control" />
                <span asp-validation-for="IRF_ReportingTimeAndDateOfIncident" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IRF_IsThereSuspect" /> @Html.DisplayNameFor(model => model.IRF_IsThereSuspect)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IRF_IsThereMoreThanOneSuspect" /> @Html.DisplayNameFor(model => model.IRF_IsThereMoreThanOneSuspect)
                </label>
            </div>
            
            <!-- Reporting Person -->
            <div class="form-group">
                <label asp-for="ReportingPerson_FamilyName" class="control-label"></label>
                <input asp-for="ReportingPerson_FamilyName" class="form-control" /> 
                <span asp-validation-for="ReportingPerson_FamilyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_FirstName" class="control-label"></label>
                <input asp-for="ReportingPerson_FirstName" class="form-control" />
                <span asp-validation-for="ReportingPerson_FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_MiddleName" class="control-label"></label>
                <input asp-for="ReportingPerson_MiddleName" class="form-control" />
                <span asp-validation-for="ReportingPerson_MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_Qualifier" class="control-label"></label>
                <input asp-for="ReportingPerson_Qualifier" class="form-control" />
                <span asp-validation-for="ReportingPerson_Qualifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_Nickname" class="control-label"></label>
                <input asp-for="ReportingPerson_Nickname" class="form-control" />
                <span asp-validation-for="ReportingPerson_Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_Nationality" class="control-label"></label>
                <input asp-for="ReportingPerson_Nationality" class="form-control" />
                <span asp-validation-for="ReportingPerson_Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_Sex" class="control-label"></label>
                <input asp-for="ReportingPerson_Sex" class="form-control" />
                <span asp-validation-for="ReportingPerson_Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_CivilStatus" class="control-label"></label>
                <input asp-for="ReportingPerson_CivilStatus" class="form-control" />
                <span asp-validation-for="ReportingPerson_CivilStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_DOB" class="control-label"></label>
                <input asp-for="ReportingPerson_DOB" class="form-control" />
                <span asp-validation-for="ReportingPerson_DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_Age" class="control-label"></label>
                <input asp-for="ReportingPerson_Age" class="form-control" />
                <span asp-validation-for="ReportingPerson_Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_POB" class="control-label"></label>
                <input asp-for="ReportingPerson_POB" class="form-control" />
                <span asp-validation-for="ReportingPerson_POB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_HomePhone" class="control-label"></label>
                <input asp-for="ReportingPerson_HomePhone" class="form-control" />
                <span asp-validation-for="ReportingPerson_HomePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_MobilePhone" class="control-label"></label>
                <input asp-for="ReportingPerson_MobilePhone" class="form-control" />
                <span asp-validation-for="ReportingPerson_MobilePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_CurrentAddress" class="control-label"></label>
                <input asp-for="ReportingPerson_CurrentAddress" class="form-control" />
                <span asp-validation-for="ReportingPerson_CurrentAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_CurrentVillage" class="control-label"></label>
                <input asp-for="ReportingPerson_CurrentVillage" class="form-control" />
                <span asp-validation-for="ReportingPerson_CurrentVillage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_CurrentBarangay" class="control-label"></label>
                <input asp-for="ReportingPerson_CurrentBarangay" class="form-control" />
                <span asp-validation-for="ReportingPerson_CurrentBarangay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_CurrentCity" class="control-label"></label>
                <input asp-for="ReportingPerson_CurrentCity" class="form-control" />
                <span asp-validation-for="ReportingPerson_CurrentCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_CurrentProvince" class="control-label"></label>
                <input asp-for="ReportingPerson_CurrentProvince" class="form-control" />
                <span asp-validation-for="ReportingPerson_CurrentProvince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_OtherAddress" class="control-label"></label>
                <input asp-for="ReportingPerson_OtherAddress" class="form-control" />
                <span asp-validation-for="ReportingPerson_OtherAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_OtherVillage" class="control-label"></label>
                <input asp-for="ReportingPerson_OtherVillage" class="form-control" />
                <span asp-validation-for="ReportingPerson_OtherVillage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_OtherBarangay" class="control-label"></label>
                <input asp-for="ReportingPerson_OtherBarangay" class="form-control" />
                <span asp-validation-for="ReportingPerson_OtherBarangay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_OtherCity" class="control-label"></label>
                <input asp-for="ReportingPerson_OtherCity" class="form-control" />
                <span asp-validation-for="ReportingPerson_OtherCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_OtherProvince" class="control-label"></label>
                <input asp-for="ReportingPerson_OtherProvince" class="form-control" />
                <span asp-validation-for="ReportingPerson_OtherProvince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_HighestEducational" class="control-label"></label>
                <input asp-for="ReportingPerson_HighestEducational" class="form-control" />
                <span asp-validation-for="ReportingPerson_HighestEducational" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_Occupation" class="control-label"></label>
                <input asp-for="ReportingPerson_Occupation" class="form-control" />
                <span asp-validation-for="ReportingPerson_Occupation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_IDCard" class="control-label"></label>
                <input asp-for="ReportingPerson_IDCard" class="form-control" />
                <span asp-validation-for="ReportingPerson_IDCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportingPerson_EmailAddress" class="control-label"></label>
                <input asp-for="ReportingPerson_EmailAddress" class="form-control" />
                <span asp-validation-for="ReportingPerson_EmailAddress" class="text-danger"></span>
            </div>

            <!-- Suspect -->
            <div class="form-group">
                <label asp-for="Suspect_FamilyName" class="control-label"></label>
                <input asp-for="Suspect_FamilyName" class="form-control" />
                <span asp-validation-for="Suspect_FamilyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_FirstName" class="control-label"></label>
                <input asp-for="Suspect_FirstName" class="form-control" />
                <span asp-validation-for="Suspect_FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_MiddleName" class="control-label"></label>
                <input asp-for="Suspect_MiddleName" class="form-control" />
                <span asp-validation-for="Suspect_MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_Qualifier" class="control-label"></label>
                <input asp-for="Suspect_Qualifier" class="form-control" />
                <span asp-validation-for="Suspect_Qualifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_Nickname" class="control-label"></label>
                <input asp-for="Suspect_Nickname" class="form-control" />
                <span asp-validation-for="Suspect_Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_Nationality" class="control-label"></label>
                <input asp-for="Suspect_Nationality" class="form-control" />
                <span asp-validation-for="Suspect_Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_Sex" class="control-label"></label>
                <input asp-for="Suspect_Sex" class="form-control" />
                <span asp-validation-for="Suspect_Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_CivilStatus" class="control-label"></label>
                <input asp-for="Suspect_CivilStatus" class="form-control" />
                <span asp-validation-for="Suspect_CivilStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_DOB" class="control-label"></label>
                <input asp-for="Suspect_DOB" class="form-control" />
                <span asp-validation-for="Suspect_DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_Age" class="control-label"></label>
                <input asp-for="Suspect_Age" class="form-control" />
                <span asp-validation-for="Suspect_Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_HomePhone" class="control-label"></label>
                <input asp-for="Suspect_HomePhone" class="form-control" />
                <span asp-validation-for="Suspect_HomePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_MobilePhone" class="control-label"></label>
                <input asp-for="Suspect_MobilePhone" class="form-control" />
                <span asp-validation-for="Suspect_MobilePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_CurrentAddress" class="control-label"></label>
                <input asp-for="Suspect_CurrentAddress" class="form-control" />
                <span asp-validation-for="Suspect_CurrentAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_CurrentVillage" class="control-label"></label>
                <input asp-for="Suspect_CurrentVillage" class="form-control" />
                <span asp-validation-for="Suspect_CurrentVillage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_CurrentBarangay" class="control-label"></label>
                <input asp-for="Suspect_CurrentBarangay" class="form-control" />
                <span asp-validation-for="Suspect_CurrentBarangay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_CurrentCity" class="control-label"></label>
                <input asp-for="Suspect_CurrentCity" class="form-control" />
                <span asp-validation-for="Suspect_CurrentCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_CurrentProvince" class="control-label"></label>
                <input asp-for="Suspect_CurrentProvince" class="form-control" />
                <span asp-validation-for="Suspect_CurrentProvince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_OtherAddress" class="control-label"></label>
                <input asp-for="Suspect_OtherAddress" class="form-control" />
                <span asp-validation-for="Suspect_OtherAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_OtherVillage" class="control-label"></label>
                <input asp-for="Suspect_OtherVillage" class="form-control" />
                <span asp-validation-for="Suspect_OtherVillage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_OtherBarangay" class="control-label"></label>
                <input asp-for="Suspect_OtherBarangay" class="form-control" />
                <span asp-validation-for="Suspect_OtherBarangay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_OtherCity" class="control-label"></label>
                <input asp-for="Suspect_OtherCity" class="form-control" />
                <span asp-validation-for="Suspect_OtherCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_OtherProvince" class="control-label"></label>
                <input asp-for="Suspect_OtherProvince" class="form-control" />
                <span asp-validation-for="Suspect_OtherProvince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_HighestEducation" class="control-label"></label>
                <input asp-for="Suspect_HighestEducation" class="form-control" />
                <span asp-validation-for="Suspect_HighestEducation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_Occupation" class="control-label"></label>
                <input asp-for="Suspect_Occupation" class="form-control" />
                <span asp-validation-for="Suspect_Occupation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_WorkAddress" class="control-label"></label>
                <input asp-for="Suspect_WorkAddress" class="form-control" />
                <span asp-validation-for="Suspect_WorkAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_RelationToVictim" class="control-label"></label>
                <input asp-for="Suspect_RelationToVictim" class="form-control" />
                <span asp-validation-for="Suspect_RelationToVictim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_EmailAddress" class="control-label"></label>
                <input asp-for="Suspect_EmailAddress" class="form-control" />
                <span asp-validation-for="Suspect_EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_AfpPersonnelRank" class="control-label"></label>
                <input asp-for="Suspect_AfpPersonnelRank" class="form-control" />
                <span asp-validation-for="Suspect_AfpPersonnelRank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_UnitAssignment" class="control-label"></label>
                <input asp-for="Suspect_UnitAssignment" class="form-control" />
                <span asp-validation-for="Suspect_UnitAssignment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_GroupAffiliation" class="control-label"></label>
                <input asp-for="Suspect_GroupAffiliation" class="form-control" />
                <span asp-validation-for="Suspect_GroupAffiliation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_WasWithPreviousCase" class="control-label"></label>
                <input asp-for="Suspect_WasWithPreviousCase" class="form-control" />
                <span asp-validation-for="Suspect_WasWithPreviousCase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_StatusOfPreviousCase" class="control-label"></label>
                <input asp-for="Suspect_StatusOfPreviousCase" class="form-control" />
                <span asp-validation-for="Suspect_StatusOfPreviousCase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_Height" class="control-label"></label>
                <input asp-for="Suspect_Height" class="form-control" />
                <span asp-validation-for="Suspect_Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_Weight" class="control-label"></label>
                <input asp-for="Suspect_Weight" class="form-control" />
                <span asp-validation-for="Suspect_Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_ColorOfEyes" class="control-label"></label>
                <input asp-for="Suspect_ColorOfEyes" class="form-control" />
                <span asp-validation-for="Suspect_ColorOfEyes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_DescriptionOfEyes" class="control-label"></label>
                <input asp-for="Suspect_DescriptionOfEyes" class="form-control" />
                <span asp-validation-for="Suspect_DescriptionOfEyes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_ColorOfHair" class="control-label"></label>
                <input asp-for="Suspect_ColorOfHair" class="form-control" />
                <span asp-validation-for="Suspect_ColorOfHair" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_DescriptionOfHair" class="control-label"></label>
                <input asp-for="Suspect_DescriptionOfHair" class="form-control" />
                <span asp-validation-for="Suspect_DescriptionOfHair" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Suspect_UnderInfluenceOfDrugs" /> @Html.DisplayNameFor(model => model.Suspect_UnderInfluenceOfDrugs)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Suspect_UnderInfluenceOfLiquors" /> @Html.DisplayNameFor(model => model.Suspect_UnderInfluenceOfLiquors)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Suspect_UnderInfluenceOfOthers" class="control-label"></label>
                <input asp-for="Suspect_UnderInfluenceOfOthers" class="form-control" />
                <span asp-validation-for="Suspect_UnderInfluenceOfOthers" class="text-danger"></span>
            </div>
            <!-- Children -->
            <div class="form-group">
                <label asp-for="Children_GuardianName" class="control-label"></label>
                <input asp-for="Children_GuardianName" class="form-control" />
                <span asp-validation-for="Children_GuardianName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Children_GuardianAddress" class="control-label"></label>
                <input asp-for="Children_GuardianAddress" class="form-control" />
                <span asp-validation-for="Children_GuardianAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Children_HomePhone" class="control-label"></label>
                <input asp-for="Children_HomePhone" class="form-control" />
                <span asp-validation-for="Children_HomePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Children_MobilePhone" class="control-label"></label>
                <input asp-for="Children_MobilePhone" class="form-control" />
                <span asp-validation-for="Children_MobilePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Children_DiversionMechanism" class="control-label"></label>
                <input asp-for="Children_DiversionMechanism" class="form-control" />
                <span asp-validation-for="Children_DiversionMechanism" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Children_OtherFeatures" class="control-label"></label>
                <input asp-for="Children_OtherFeatures" class="form-control" />
                <span asp-validation-for="Children_OtherFeatures" class="text-danger"></span>
            </div>
            <!-- Victim -->
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Victim_IfReportingPersonIsVictim" /> @Html.DisplayNameFor(model => model.Victim_IfReportingPersonIsVictim)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Victim_IfTwoOrMoreVictims" /> @Html.DisplayNameFor(model => model.Victim_IfTwoOrMoreVictims)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Victim_FamilyName" class="control-label"></label>
                <input asp-for="Victim_FamilyName" class="form-control" />
                <span asp-validation-for="Victim_FamilyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Victim_FirstName" class="control-label"></label>
                <input asp-for="Victim_FirstName" class="form-control" />
                <span asp-validation-for="Victim_FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Victim_MiddleName" class="control-label"></label>
                <input asp-for="Victim_MiddleName" class="form-control" />
                <span asp-validation-for="Victim_MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Victim_Qualifier" class="control-label"></label>
                <input asp-for="Victim_Qualifier" class="form-control" />
                <span asp-validation-for="Victim_Qualifier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Victim_Nickname" class="control-label"></label>
                <input asp-for="Victim_Nickname" class="form-control" />
                <span asp-validation-for="Victim_Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Victim_CurrentAddress" class="control-label"></label>
                <input asp-for="Victim_CurrentAddress" class="form-control" />
                <span asp-validation-for="Victim_CurrentAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Victim_CurrentVillage" class="control-label"></label>
                <input asp-for="Victim_CurrentVillage" class="form-control" />
                <span asp-validation-for="Victim_CurrentVillage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Victim_CurrentBarangay" class="control-label"></label>
                <input asp-for="Victim_CurrentBarangay" class="form-control" />
                <span asp-validation-for="Victim_CurrentBarangay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Victim_CurrentCity" class="control-label"></label>
                <input asp-for="Victim_CurrentCity" class="form-control" />
                <span asp-validation-for="Victim_CurrentCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Victim_CurrentProvince" class="control-label"></label>
                <input asp-for="Victim_CurrentProvince" class="form-control" />
                <span asp-validation-for="Victim_CurrentProvince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Victim_OtherAddress" class="control-label"></label>
                <input asp-for="Victim_OtherAddress" class="form-control" />
                <span asp-validation-for="Victim_OtherAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Victim_OtherVillage" class="control-label"></label>
                <input asp-for="Victim_OtherVillage" class="form-control" />
                <span asp-validation-for="Victim_OtherVillage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Victim_OtherBarangay" class="control-label"></label>
                <input asp-for="Victim_OtherBarangay" class="form-control" />
                <span asp-validation-for="Victim_OtherBarangay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Victim_OtherCity" class="control-label"></label>
                <input asp-for="Victim_OtherCity" class="form-control" />
                <span asp-validation-for="Victim_OtherCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Victim_OtherProvince" class="control-label"></label>
                <input asp-for="Victim_OtherProvince" class="form-control" />
                <span asp-validation-for="Victim_OtherProvince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Victim_HighestEducation" class="control-label"></label>
                <input asp-for="Victim_HighestEducation" class="form-control" />
                <span asp-validation-for="Victim_HighestEducation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Victim_Occupation" class="control-label"></label>
                <input asp-for="Victim_Occupation" class="form-control" />
                <span asp-validation-for="Victim_Occupation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Victim_WorkAddress" class="control-label"></label>
                <input asp-for="Victim_WorkAddress" class="form-control" />
                <span asp-validation-for="Victim_WorkAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Victim_EmailAddress" class="control-label"></label>
                <input asp-for="Victim_EmailAddress" class="form-control" />
                <span asp-validation-for="Victim_EmailAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function() {
            $('input[class="form-control"]').val('hi');
        })
    </script>
}
