@model RACU11.Models.IRF

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IRF</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlotterEntryNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlotterEntryNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfIncident)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfIncident)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportingTimeAndDateOfReport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportingTimeAndDateOfReport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportingTimeAndDateOfIncident)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportingTimeAndDateOfIncident)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsThereSuspect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsThereSuspect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsThereMoreThanOneSuspect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsThereMoreThanOneSuspect)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
