@model IEnumerable<RACU11.Models.IRF>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BlotterEntryNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfIncident)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportingTimeAndDateOfReport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportingTimeAndDateOfIncident)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsThereSuspect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsThereMoreThanOneSuspect)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlotterEntryNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfIncident)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportingTimeAndDateOfReport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportingTimeAndDateOfIncident)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsThereSuspect)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsThereMoreThanOneSuspect)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
